.slider {
  --background-size: 0%;
  -webkit-appearance: none;
  appearance: none;
  opacity: 0.8;
  width: 70%;
  height: 5px;
  border-radius: 9999px;
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff var(--background-size),
    rgba(255, 255, 255, 0.5) var(--background-size)
  );
  transform: scale(1);
  outline: none;
  transition:
    background 0.2s ease,
    opacity 0.2s ease,
    width 0.2s ease;
  transform: 0.2s ease;
}

.slider:active {
  transform: scaleY(1.4);
  width: 74%;
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-shadow: none;
  appearance: none;
  width: 20px;
  height: 5px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 25%;
}
