@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-font-smoothing: antialiased;
}

.menu-scroll 
{
    transform-style: preserve-3d;
    will-change: transform, width, height;
}
