@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}
.gap-row {
  row-gap: 1rem !important;
}

.bento {
  border: 1px solid #ececec;
  box-shadow: 0px 2px 4px #0000000b;
  border-radius: 20px;
  padding: 26px;
  height: 100%;
  width: 100%;
}
