@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
  }
}

.gap-row {
  row-gap: 1rem !important;
}

.bento {
  border: 1px solid #ececec;
  box-shadow: 0px 2px 4px #0000000b;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-message {
  animation: fadeInUp 0.4s;
}

.slider {
  --background-size: 0%;
  -webkit-appearance: none;
  appearance: none;
  opacity: 0.8;
  width: 70%;
  height: 5px;
  border-radius: 9999px;
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff var(--background-size),
    rgba(255, 255, 255, 0.5) var(--background-size)
  );
  transform: scale(1);
  outline: none;
  transition:
    background 0.2s ease,
    opacity 0.2s ease,
    width 0.2s ease;
  transform: 0.2s ease;
}

.slider:active {
  transform: scaleY(1.4);
  width: 74%;
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-shadow: none;
  appearance: none;
  width: 20px;
  height: 5px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 25%;
}

.mapboxgl-ctrl-bottom-left {
  display: none !important;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
.ping {
  animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.shake:hover {
  animation: tilt-n-move-shaking 3s infinite;
}

@keyframes tilt-n-move-shaking {
  2% {
    transform: rotate(0deg);
  }
  4% {
    transform: rotate(8deg);
  }
  6% {
    transform: rotate(0eg);
  }

  8% {
    transform: rotate(-8deg);
  }
  10% {
    transform: rotate(0deg);
  }
}

.popin {
  animation: popIn 500ms ease-in;
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pop-up {
  animation: popUp 800ms forwards;
}

.pop-down {
  animation: popDown 800ms forwards;
}

@keyframes popUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes popDown {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.button::before {
  content: '';
  position: absolute;
  transform: scale(2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  animation: pulse-bg 600ms ease-out;
  pointer-events: none; /* Ensures this pseudo-element doesn't interfere with any interactions */
}

@keyframes pulse-bg {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(237, 237, 237, 0.1); /* Adjust color to your liking */
  }
  100% {
    background-color: transparent;
  }
}

.cloud-one {
  animation:
    moveCloud linear 15s infinite,
    fadeInOut 15s infinite;
}

.cloud-two {
  animation:
    moveCloud linear 15s infinite,
    fadeInOut 15s infinite;
}

@keyframes moveCloud {
  100% {
    transform: translateX(120%);
  }
}

@keyframes pulse-waves {
  0% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }

  50% {
    transform: scaleY(0.7);
    transform-origin: 50% 50%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
}
