@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-message {
  animation: fadeInUp 0.4s;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
.ping {
  animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.shake:hover {
  animation: wave-animation 3s infinite;
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.popin {
  animation: popIn 500ms ease-in;
}

@keyframes popUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.13);
  }
  100% {
    transform: scale(1.1);
  }
}

.pop-up {
  animation: popUp 600ms forwards ease-in-out;
}

@keyframes popDown {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}

.pop-down {
  animation: popDown 600ms forwards ease-in-out;
}

@keyframes moveCloud {
  100% {
    transform: translateX(120%);
  }
}

.cloud-one {
  animation:
    moveCloud linear 15s infinite,
    fadeInOut 15s infinite;
}

.cloud-two {
  animation:
    moveCloud linear 15s infinite,
    fadeInOut 15s infinite;
  animation-delay: 8s;
}

@keyframes pulse-waves {
  0% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }

  50% {
    transform: scaleY(0.7);
    transform-origin: 50% 50%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
}
